/.htaccess
/vip.sublime-workspace
/index.php
/composer.lock
/package-lock.json
/vendor/*
/manager/*
/node_modules/*
/bower_components/*
/assets/.thumbs/*
/assets/backup/*
/assets/cache/*
/assets/docs/*
/assets/export/*
/assets/files/*
/assets/images/*
/assets/import/*
/assets/js/*
/assets/lib/*
/assets/libs/*
/assets/modules/index.html
/assets/modules/docmanager
/assets/modules/store
/assets/modules/clientsettings/core/*
/assets/modules/clientsettings/config/*.sample
/assets/plugins/*
/assets/site/*
/assets/snippets/*
/assets/tvs/*
/assets/index.html
/assets/templates/*
/assets/index.html
/test/*
/tests/*
/temp/*
